#result-button {
	position: absolute;
	bottom: 55px;
	right: 5px;
}

#play-button {
  margin-top: 10px !important;
  margin-right: 50% !important;
  float: none !important;
  width: 50px !important;
}

.button {
  float: right;
  clear: right;
  height: 3px;
  width: 3px;
  margin-top: 5px;
  margin-right: 5px;
}

#main-color-button {
  height: 5px !important;
  width: 5px !important;
  margin-top: 50px !important;
}

.homepage {
  float: none !important;
  width: 20% !important;
}
