#result-button {
  position: absolute;
  float: right;
  bottom: 55px;
  right: 5px;
}

#play-button {
  /*position: absolute;*/
  width: 50px !important;
  margin-top: 5px !important;
}

.wrapper {
  align-items: center;
}

.color-button {
  float: right;
  line-height: 5px !important;
  min-height: 30px !important;
  width: 3px !important;
  top: 60px;
  margin-right: 5px;
}

.ion-ios-compose-outline {
  float: right;
  height: 5px !important;
  width: 5px !important;
  top: 50px;
  margin-right: 30px;
}

.ion-ios-trash-outline {
  margin-right: 30px;
  float: right;
  height: 5px;
  width: 5px;
  top: 50px;
}

.ion-ios-undo-outline{
  margin-right: 30px;
  float: right;
  height: 5px;
  width: 5px;
  top: 50px;
}

.homepage {
  float: none !important;
  width: 20% !important;
}

/*I would like to separate these into a different file for result, but can't figure it out*/
#replay-button{
  width: 50px !important;
  margin-top: 5px !important;
}

#drawing-pic{
  height: 50%;
  width: 50%;
  border: 1px solid #000 !important;
}


