/***********************************/
/* Universal */
/***********************************/

.bar-header {
  height: 50px; /*just an example*/
}

.wrapper {
  align-items: center;
}

/***********************************/
/* Drawing */
/***********************************/
.color-button {
  float: right;
  min-height: 30px !important;
  line-height: 5px !important;
  min-width: 5px !important;
  top: 65px;
  margin-right: 5px;
  right: 30px;
}

.canvas-right-icon {
  float: right;
  top: 60px;
}

.canvas-left-icon {
  float: left;
  top: 60px;
}

.ion-paintbrush{
  right: 25px;
}

.ion-ios-compose-outline{
  left: 15px;
}

.ion-ios-undo {
  right: 50px;
}

.loadButton {
  height: 40px;
  width: 70%;
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 1px;
  margin-left: 0 !important;
  left: 0;
}

.deleteDrawingButton {
  height: 40px;
  width: 24%;
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 2px;
  right: 10px;
  float: right;
}
