#replay-button{
  width: 50px !important;
  margin: 5px auto !important;
  display: block;
}

#drawing-pic{
  margin: auto;
  height: 140%;
  width: 60%;
  padding-bottom: 15%;
  padding-top:20%;
  display: block;
  /*border: 5px solid gray;*/
}

.frameImg{
  background:url("../img/goldFrame.png");
  background-size:106% 110%;
  background-position:center;
  background-color: white;
  margin: auto;
  z-index: -1;
}


.frameImg2{
  background:url("../img/curtainTest.png"), url("../img/goldFrame.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100%,  85% 100%;
  background-position: center, center;

  margin: auto;
  z-index: -1;
}

.bgd{
  background-color: #cfcfcf; /* #dcdcdc #b6b6b6;*/
}