/*****************/
/* Image Display */
/*****************/

#drawing-pic{
  margin: auto;
  height: 140%;
  width: 60%;
  padding-bottom: 10%;
  padding-top:15%;
  display: block;
  /*border: 5px solid gray;*/
}

.frameImg{
  background:url("../img/goldFrame.png");
  background-size:106% 110%;
  background-position:center;
  background-color: white;
  margin: auto;
  z-index: -1;
}

.bgd{
  background-color: #cfcfcf; /* #dcdcdc #b6b6b6;*/
}

/***********/
/* Buttons */
/***********/

#replay-button{
  width: 50px !important;
  margin: 5px auto !important;
  display: block;
}
