#replay-button{
  width: 50px !important;
  margin: 5px auto !important;
  display: block;
}

#drawing-pic{
  margin: auto;
  height: 100%;
  width: 40%;
  padding-bottom: 15%;
  padding-top:15%;
  display: block;
}


.frameImg{
  background:url("../img/goldFrame.png");
  background-repeat: no-repeat;
  background-size: 65% 100%;
  background-position: center;
  margin: auto;
  z-index: -1;
}
