/* Empty. Add your own CSS if you like */

.paddingStartButton {
  padding-bottom: 30px;
  padding-top: 50px;
}

.information{
  padding-bottom: 50px;
  padding-top: 100px;
}

.setBlackBgd{
  background-color: black;
}

.logoImg{
  background:url("../img/Logo%20King%20Kunta.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 80%;
  height: 300px;
  margin: auto;
  z-index: 0;
  position: relative;
}


.infoBackground{
  background:url("../img/background.png") no-repeat;
  background-position: center;
  background-color: black;
  background-size: 220%;
  z-index: 0;
  max-width: 100%
}

.item .item-content{
  width: 100%;
  background-color: black;
  color: white;
  text-align-all: center;
}

.infoBackground .row{
  max-width: 100%
}

.infoBackground .row .col{
  color: #3385ff;
  font-family: Lucida Sans Unicode;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  max-width: 100%
}

.infoBackground .information{
  color: white;
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.item .item-content .infoText {
  color: white;
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 16px;
  margin-top: 5%;
}

li.infoText{
  color: grey;
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 16px;
  margin-top: 5%;
  margin-bottom: 15%;
}

p.header{
  color: white;
  /*color:  #3385ff;*/
  font-weight: bold;
  font-size: 20px;
  font-family: Georgia, serif;
}

.infoBox {
  margin-bottom: 10%;
  text-align: left;
}


.wrapping-list .item-content, .wrapping-list .item {
  overflow: initial;
  white-space: initial;
}

.info-button-ex {
  float: left;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 2%;
  right: 0 !important;
}

.info-long-text {
  margin-top: 5%;
  margin-bottom: 5%;
}

.info-extra-long-text {
  margin-top: 10%;
  margin-bottom: 10%;
}

.dropdown {
  margin-right: 5%;
  margin-bottom: 10%;
}


img.images{
  height: 150px;
  width: 90px;
}
