/* Empty. Add your own CSS if you like */
/*
.buttons{
  padding: 300px 0px 0px 0px;
}

.input-label{
  height: 250px;
}

/*
.scroll-content{
  background:url("../img/coverPageBackgroundTest.jpg"); no-repeat: center fixed;
  background-size: cover;
}
*/

.paddingStartButton {
  padding-bottom: 30px;
  padding-top: 50px;
}

.paddingWelcome{
  padding-bottom: 50px;
  padding-top: 100px;
}

.setBlackBgd{
  background-color: black;
}

.logoImg{
  background:url("../img/Drawing.png");
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 80%;
  height: 246px;
  margin: auto;
  z-index: -1;
  position: relative;
}

/*
.drawing{
  height: 1%;
  width: 1%
}
*/
