/**********************/
/* CSS for Cover Page */
/**********************/
.setBlackBgd{
  background-color: black;
}

.logoImg{
  background:url("../img/Logo%20King%20Kunta.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 90%;
  height: 325px;
  margin: auto;
  z-index: 0;
  position: relative;
}

/*********************/
/* CSS for Info Page */
/*********************/

/* General page formatting */

.information{
  padding-bottom: 50px;
  padding-top: 100px;
}

.infoBackground{
  background:url("../img/background.png") no-repeat;
  background-position: center;
  background-color: black;
  background-size: 220%;
  z-index: 0;
  max-width: 100%
}

.infoBackground .row{
  max-width: 100%
}

.infoBackground .row .col{
  color: #3385ff;
  font-family: Lucida Sans Unicode;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  max-width: 100%
}

.infoBackground .information{
  color: white;
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
}

.item .item-content{
  width: 100%;
  background-color: black;
  color: white;
  text-align-all: center;
}

p.header{
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: Georgia, serif;
}

.infoBox {
  margin-bottom: 10%;
  text-align: left;
}

/* For text display in info sections */

.wrapping-list .item-content, .wrapping-list .item {
  overflow: initial;
  white-space: initial;
}

.info-button-ex {
  float: left;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 2%;
  right: 0 !important;
}

.info-long-text {
  margin-top: 5%;
  margin-bottom: 5%;
}

.info-extra-long-text {
  margin-top: 10%;
  margin-bottom: 10%;
}

.dropdown {
  margin-right: 5%;
  margin-bottom: 10%;
}

/*****************/
/* About Section */
/*****************/

img.images{
  height: 150px;
  width: 90px;
}

#about-text {
  color: white;
}
