<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <ion-tab title = "coverPage" href="#/tab/coverPage">
    <ion-nav-view name="tab-coverPage"></ion-nav-view>
  </ion-tab>
<!--
  <ion-tab title = "infoPage" href="#/tab/infoPage">
    <ion-nav-view name="tab-coverPage"></ion-nav-view>
  </ion-tab>

  <ion-tab title = "tab-canvas" href="#/tab/canvas">
    <ion-nav-view name="tab-canvas"></ion-nav-view>
  </ion-tab>

  <ion-tab title = "tab-backPage" href="#/tab/backPage">
    <ion-nav-view name="tab-backPage"></ion-nav-view>
  </ion-tab>
-->
</ion-tabs>
