<ion-view>
  <ion-content class="infoBackground" align="center">
    <h1 class="information"> How it Works? </h1>
    <ion-list class="wrapping-list">

      <!-- "Draw a Picture" dropdown info section -->
      <ion-item class="infoBox" href="#">
        <p class="header" ng-click="toggleDraw()">
          <i class="icon {{ drawingArrowIcon }} dropdown"></i>
          Draw a Picture
        </p>
        <ul class="ng-hide infoText" ng-hide="hideDraw">
          <li>
            <i class="icon ion-easel button button-small info-button-ex "></i>
            Use your finger to draw a picture on the canvas.
            <br><br>
          </li>
          <li>
            <i class="icon ion-paintbrush button button-small info-button-ex"></i>
            You can change the pen color by clicking the paintbrush.
            <br><br>
          </li>
          <li>
            <i class="icon ion-reply button button-small info-button-ex"></i>
            Click on the undo button to undo the last line you drew.
            <br><br>
          </li>
          <li>
            <i class="icon ion-ios-compose-outline button button-small info-button-ex info-long-text"></i>
            Click the new canvas button in the top left corner to start a new drawing.
            <br><br>
          </li>
        </ul>
      </ion-item>

      <!-- "Listen to a Drawing" dropdown info section -->
      <ion-item class="infoBox" href="#">
        <p class="header" ng-click="toggleListen()">
          <i class="icon {{ listenArrowIcon }} dropdown"></i>
          Listen to a Drawing
        </p>
        <ul class="ng-hide infoText" ng-hide="hideListen">
          <li>
            <i class="icon ion-play button button-positive button-small info-button-ex info-long-text"></i>
            Once you're done drawing, hit the blue Play button on the page in the top right corner.
            <br><br>
          </li>
          <li>
            <i class="icon ion-image button button-positive button-small info-button-ex info-long-text"></i>
            The results page will show you your creation, and play music created from your drawing.
          </li>
        </ul>
      </ion-item>

      <!-- "Save your Creation" dropdown info section -->
      <ion-item class="infoBox" href="#">
        <p class="header" ng-click="toggleSave()">
          <i class="icon {{ saveArrowIcon }} dropdown"></i>
          Save Your Creation
        </p>
        <ul class="ng-hide" ng-hide="hideSave">
          <li>
            <i class="icon ion-ios-download button button-small button-assertive info-button-ex info-extra-long-text"></i>
            If you like your drawing, you can save it and come back to it. After you listen to your drawing, just click the Save button, and follow the instructions.
            <br><br>
          </li>
          <li>
            <i class="icon ion-clipboard button button-small button-assertive info-button-ex info-long-text"></i>
            When naming your drawing, make sure you choose a new name that you haven't already used.
            <br><br>
          </li>
          <li>
            <i class="icon ion-folder button button-small button-assertive info-button-ex info-extra-long-text"></i>
            To open a saved drawing, open up a new drawing and click the Folder button. You can then select a saved drawing to continue working on or to play again.
            <br><br>
          </li>
          <li>
            <i class="icon ion-trash-a button button-small button-assertive info-button-ex info-extra-long-text"></i>
            <i></i>
            Want to delete a saved drawing? Click the load button, and instead of hitting the drawing name, hit the trash button next to the drawing you want to delete.
            <br><br>
          </li>
        </ul>
      </ion-item>
    </ion-list>

    <!-- About Us section - pictures of us -->
    <h1 class="information"> About Us </h1>
    <div class="row">
      <div class="col">
        <img src="./img/Ben.jpg" class="images"><br>
        Ben Mathers
      </div>
      <div class="col">
        <img src="./img/Ruthie.jpeg" class="images"><br>
        Ruthie Berman
      </div>
      <div class="col">
        <img src="./img/Monica.jpg" class="images"><br>
        Monica Ngo
      </div>
      <div class="col">
        <img src="./img/Kevin.JPG" class="images"><br>
        Kevin Tang
      </div>
    </div>

    <!-- About product description -->
    <div>
      <h4 id="about-text">
          We built Synesthesia to encourage you to take a few seconds every now and then to play. Be inspired. Be creative. Have fun.
      </h4>
    </div>
  </ion-content>
</ion-view>
