<ion-view title="Drawing Page">
  <ion-nav-buttons side="right">
    <a class="button button-royal ng-hide"
       ng-click="convertToMusic();"
       ng-hide="canvasIsBlank"
       href="#/tab/result">
      <i class="icon ion-play"></i>
    </a>
  </ion-nav-buttons>

  <body>
  <div ng-app="starter" ng-init="initCanvas()">
    <button class="button color-button {{getCurrentColorClass()}}"
            id="main-color-button"
            ng-click="toggleColors()">
    </button>
    <button ng-click="changeColors('red')" ng-hide="hideColors" class="ng-hide button color-button button-assertive"></button>
    <button ng-click="changeColors('yellow')" ng-hide="hideColors" class="ng-hide button color-button button-energized"></button>
    <button ng-click="changeColors('green')" ng-hide="hideColors" class="ng-hide button color-button button-balanced"></button>
    <button ng-click="changeColors('blue')" ng-hide="hideColors" class="ng-hide button color-button button-positive"></button>
    <button ng-click="changeColors('purple')" ng-hide="hideColors" class="ng-hide button color-button button-royal"></button>
    <button ng-click="changeColors('black')" ng-hide="hideColors" class="ng-hide button color-button button-dark"></button>


    <canvas id="canvas"
            ng-mousemove="callCanvasForEvent('move', $event)"
            ng-mousedown="callCanvasForEvent('down', $event)"
            ng-mouseup="callCanvasForEvent('up', $event); showPlayButton()"
            ng-mouseout="callCanvasForEvent('out', $event)"></canvas>
    <!--<a class="button button-dark ng-hide"-->
       <!--ng-click="convertToMusic()"-->
       <!--ng-hide="canvasIsBlank"-->
       <!--id="result-button"-->
       <!--href="#/tab/result">-->
      <!--<i class="icon ion-play"></i>-->
    <!--</a>-->

  </div>

  </body>
</ion-view>
