<ion-view>
  <ion-content class="infoBackground" align = "center">
    <h1 class="information" ><b> How it Works? </b></h1>

    <ion-list>
      <ion-item class="item=thumbnail-center" href="#" style="text-align: center">
        Draw a Pic
      </ion-item>
      <ion-item class="dropdown" style="text-align: center;">
        <a href="javascript:void(0)" class="dropbtn" onclick="myFunction()">Listen to the pic</a>
        <div class="dropdown-content" id="myDropdown">
          This is the dropdown Content
        </div>
      </ion-item>
    </ion-list>

    <h1 class="information"><b>About Us</b></h1>
    <div class="row">
      <div class="col">
        <img src="./img/Ben.jpg" style="width: 75%;"><br>
        Ben Mathers
      </div>
      <div class="col">
        <img src="./img/Ruthie.jpeg" style="width: 75%;"><br>
        Ruthie Berman
      </div>
      <div class="col">
        <img src="./img/Monica.jpg" style="width: 75%;"><br>
        Monica Ngo
      </div>
      <div class="col">
        <img src="./img/Kevin.JPG" style="width: 75%;"><br>
        Kevin Tang
      </div>
    </div>
  </ion-content>
</ion-view>
