<ion-view>
  <ion-content class="infoBackground" align = "center">
    <h1 class="information" ><b> How it Works? </b></h1>

    <ion-list>
      <ion-item class="item-thumbnail" href="#" style="text-align: center">
        <p class="header">Draw a Pic</p>
        <ul>
          <li class="infoText">Use your finger to draw on the canvas</li>
          <li class="infoText">You can change the color of your drawing</li>
          <li class="infoText">Press the Undo button to undo the last drawing</li>
          <li class="infoText">Press the Delete button to delete the drawing</li>
        </ul>
      </ion-item>
      <ion-item class="item-thumbnail" href="#" style="text-align: center;">
        <p class="header">Listen to the Pic</p>
        <ul>
          <li class="infoText">Once you're done drawing, <br>hit the Play Button on the page</li>
          <li class="infoText">The results page will show you your drawing <br>and allow you to save your drawing</li>
        </ul>
      </ion-item>
    </ion-list>

    <h1 class="information"><b>About Us</b></h1>
    <div class="row">
      <div class="col">
        <img src="./img/Ben.jpg" style="width: 75%;"><br>
        Ben Mathers
      </div>
      <div class="col">
        <img src="./img/Ruthie.jpeg" style="width: 75%;"><br>
        Ruthie Berman
      </div>
      <div class="col">
        <img src="./img/Monica.jpg" style="width: 75%;"><br>
        Monica Ngo
      </div>
      <div class="col">
        <img src="./img/Kevin.JPG" style="width: 75%;"><br>
        Kevin Tang
      </div>
    </div>
  </ion-content>
</ion-view>
