<ion-view view-title = "">
  <ion-content ng-app = "starter" class="padding setBlackBgd">
    <!-- Confetti background -->
    <div class = "logoImg">
      <canvas id = "coverCanvas" ng-init="createConfetti()"></canvas>
    </div>

    <!-- Start and Info button -->
    <a class="button button-block button-assertive" href="#/tab/drawing" ng-click="resetCanvas()">
      <strong>Start</strong>
    </a>
    <div>
      <a class="button button-block button-positive ion-information-circled" href = "#/tab/info">
        <i class="icon ion-information-circle"></i>
        <strong>Info</strong>
      </a>
    </div>
  </ion-content>
</ion-view>


