<ion-view view-title="Drawing Page">
  <body onload="init()">
  <div id="colors">
    <div id="red">
      <div id="colorDropdown">
      </div>
    </div>
  </div>
  <canvas id="canvas"></canvas>
 <!--  <script>
    $(document).ready({
      console.log(document.getElementById("canvas") + " hmmm");
    });
  </script> -->
  <button id="playButton" onclick="startSong(lines)">PLAY</button>
  </body>
</ion-view>

<!--
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="css/drawing.css"></script>
  <script src="js/drawing.js"></script>
  <script src="js/wad-master/build/wad.min.js"></script>
  <script src="js/music_player.js"></script>
  <title>Drawing</title>
</head>
<body onload="init()">
<div id="colors">
  <div id="red">
    <div id="colorDropdown">
    </div>
  </div>
</div>
<canvas id="canvas"></canvas>
<button onclick="startSong(lines)">PLAY</button>
</body>
</html>
-->
